$dark-back-color: #273039;
$light-back-color: white;
$light-font-color: black;
$dark-back-hover: #6a829b;
$dark-font-color: aliceblue;

$full-size-width: 1000px;


body {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card {
    background-color: $light-back-color;
    color: $light-font-color;
    margin: 0;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
}

.card.hover {
    transition: 0.5s;
}

.card.hover:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4)
}

img.background {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: -3;
    min-height: 100vh;
    min-width: 100vw;
}

.lesson-details {
    gap: 20px;

    ol {
        display: grid;
        grid-template-columns: 1000px;
        grid-template-rows: 400px;
        gap: 20px;
    }
}

.lesson-module {
    padding: 5px;
    height: auto;

    display: grid;
    grid-template-rows: 50px 325px;
    grid-template-columns: 100%;

    h2 {
        margin: 0;
    }

    section {
        display: grid;
        //max-width: $full-size-width;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px auto;
        overflow: hidden;

        .img-container {
            grid-row: span 2;
            grid-column: span 1;
            min-width: 0;
            min-height: 0;
            // display: flex;

            img {
                display: block;
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        ul.submodule-gallery {
            display: flex;
            flex-direction: row;
            margin: 0px;
            padding: 0px;
            gap: 15px;
            
            li {
                width: 50px;
                opacity: 0.5;
                transition: 0.5s;

                &:hover {
                    opacity: 0.9;
                }
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.blocklist {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    li {
        padding: 0px;
        margin: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        width: 170px;
        height: 170px;
        background-color: $dark-back-color;
        color: $dark-font-color;
        transition: 0.5s;

        &:hover {
            background-color: $dark-back-hover;
        }

        a {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            header {
                margin: 20px 10px;
            }

            aside {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 5px;
            }

            h5, p {
                padding: 0;
                margin: 5px;
                text-align: center;
                grid-row: span 1;
                // line-height: 75px;
            }

            h5 {
                grid-column: span 2;
                font-size: 1.5rem;
            }

            p {
                grid-column: span 1;
            }

            p.left {
                text-align: left;
            }

            p.right {
                text-align: right;
            }
        }

        * {
            text-decoration: none;
            color: $dark-font-color;
        }
        
    }
}


#App {
    padding: 0;
    margin: 0;

    nav {
        padding: 10px;
        background-color: $dark-back-color;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;

        * {
            padding: 5px;
            color: $dark-font-color;
            text-decoration: none;
        }
    }

    main {
        margin: 0 auto;
        padding: 25px 0;
        width: $full-size-width;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1050px) {
            width: 300px;
        }

        * > {
            margin: 50px 0;
        }

        & > header {
            display: flex;
            place-content: center;
            margin: 20px 50px;
        }
    }
}

